<form action="/upload" enctype="multipart/form-data" method="post" id="uploader">
	<div id="file-list">
		<div>
			<input class="filedata" name="filedata" type="file" />
		</div>
		
		<input id="add-file" type="button" value="Добавить место"/>
	</div>
	
	<input id="submit" type="submit" />
</form>
<div id="result"></div>
