<br/>
<button id="reload">🔄Обновить</button> <button id="back-dir">🔙Вернуться</button> 
<br/>
<br/>
<a id="pathDir"></a>

<table id="table-view">
	<tr>
		<th>Имя</th>
		<th>Управление</th>
		<th>Дата</th>
	</tr>
	
</table>
