<!DOCTYPE html>
<html>
<head>
    <title>404</title>
    <meta charset="utf-8" />
	<link rel="icon" href="favicon.ico" />
</head>
<body>
	<div>
		<h1>404</h1>
		<h2>
			Что ищем?🤔<br/>
			Этого здесь нет.🤨
		</h2>
		<a href="/">на гланую</a>
    </div>
	<style>
		@media only screen and (max-device-width: 720px) {
			h1{
				font-size:calc(2em * 3);
			}
			h2{
				font-size:calc(1.5em *3);
			}
			a{
				font-size:3em;
			}
		}
		div{
			text-align:center;
			font-family:monospace, consolas;
		}
		h1{
			color:darkred;
		}
	</style>
</body>
<html>