<<<<<<< HEAD
<!DOCTYPE html>
<html>
<head>
    <title>Домашнее облако</title>
    <meta charset="utf-8" />
	<link rel="stylesheet" href="styles/main.css" />
	<link rel="stylesheet" href="styles/forms.css" />
	<link rel="stylesheet" href="styles/files-view.css" />
	
	<link rel="icon" href="favicon.ico" type="image/x-icon"/>
	
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	
	<script type="text/javascript" src="scripts/js/elem_constructors.js"></script>
	
	<script type="text/javascript" src="scripts/js/upload-controller.js"></script>
	<script type="text/javascript" src="scripts/js/viewer-controller.js"></script>
</head>
<body>
	<div>
		{{> hat}}
		{{> menu}}
		{{> main}}
		{{> footer}}
    </div>
</body>
=======
<!DOCTYPE html>
<html>
<head>
    <title>Домашнее облако</title>
    <meta charset="utf-8" />
	<link rel="stylesheet" href="styles/main.css" />
	<link rel="stylesheet" href="styles/forms.css" />
	<link rel="stylesheet" href="styles/files-view.css" />
	
	<link rel="icon" href="favicon.ico" type="image/x-icon"/>
	
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	
	<script type="text/javascript" src="scripts/js/elem_constructors.js"></script>
	
	<script type="text/javascript" src="scripts/js/upload-controller.js"></script>
	<script type="text/javascript" src="scripts/js/viewer-controller.js"></script>
</head>
<body>
	<div>
		{{> hat}}
		{{> menu}}
		{{> main}}
		{{> footer}}
    </div>
</body>
>>>>>>> 9747d1f14c9529e22b516ab58682abe61441bd1e
<html>